<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>정보화 사업 개설</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-10" th:action="@{/new-project}" th:object="${projectForm}"
              method="post" novalidate>
            <div class="form-group">
                <label for="path">정보화사업 이름</label>
                <input id="path" type="text" th:field="*{title}" class="form-control"
                       placeholder="OPEN API시스템 구축" aria-describedby="pathHelp" required min="2" max="20">
                <small id="pathHelp" class="form-text text-muted">
                    사업 명을 적어주세요
                </small>
                <small class="invalid-feedback">사업 명을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}"
                       th:errors="*{title}">Path error</small>
            </div>
            <div class="form-group">
                <label for="totalAmount">사업비</label>
                <input id="totalAmount" type="text" th:field="*{totalAmount}" class="form-control"
                       placeholder="사업비(원)" aria-describedby="totalAmountHelp" required max="50">
                <small id="totalAmountHelp" class="form-text text-muted">
                </small>
                <small class="invalid-feedback">사업비</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('totalAmount')}"
                       th:errors="*{totalAmount}">Title error</small>
            </div>
            <div class="form-group">
                <label for="epmoLists">담당EPMO</label>
                <select th:field="*{eventType}"  class="custom-select mr-sm-2" id="eventType" aria-describedby="eventTypeHelp">
                    <option th:value="FCFS">선착순</option>
                    <option th:value="CONFIRMATIVE">관리자 확인</option>
                </select>
                <small id="eventTypeHelp" class="form-text text-muted">
                    두가지 모집 방법이 있습니다.<br/>
                    <strong>선착순</strong>으로 모집하는 경우, 모집 인원 이내의 접수는 자동으로 확정되며, 제한 인원을 넘는 신청은 대기 신청이 되며 이후에 확정된 신청 중에 취소가 발생하면 선착순으로 대기 신청자를 확정 신청자도 변경합니다. 단, 등록 마감일 이후에는 취소해도 확정 여부가 바뀌지 않습니다.<br/>
                    <strong>확인</strong>으로 모집하는 경우, 모임 및 스터디 관리자가 모임 신청 목록을 조회하고 직접 확정 여부를 정할 수 있습니다. 등록 마감일 이후에는 변경할 수 없습니다.
                </small>
            </div>
            <div class="form-group">
                <label for="keyword">키워드</label>
                <textarea id="keyword" type="text" th:field="*{keyword}" class="form-control"
                       placeholder="키워드를 기재해 주세요 " aria-describedby="keyword" required maxlength="100">
                </textarea>
                <small id="keywordHelp" class="form-text text-muted">
                    키워드(스토리지, 라우터, 등등)
                </small>
                <small class="invalid-feedback">키워드</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('keyword')}"
                       th:errors="*{keyword}">Keyword error</small>
            </div>
            <div class="form-group">
                <label for="fullDescription">상세 소개</label>
                <textarea id="fullDescription" type="textarea" th:field="*{fullDescription}" class="editor form-control"
                       placeholder="스터디를 자세하게 소개해 주세요" aria-describedby="fullDescription" required>
                </textarea>
                <small id="fullDescription" class="form-text text-muted">
                   프로젝트 설명을 적어주세요
                </small>
                <small class="invalid-feedback">입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('fullDescription')}"
                       th:errors="*{fullDescription}">ShortDescription error</small>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">
                    정보화사업 생성하기
                </button>
            </div>
        </form>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
    <script th:replace="fragments.html :: tooltip"></script>
    <script th:replace="fragments.html :: form-validation"></script>
    <script th:replace="fragments.html :: editor-script"></script>
</body>
</html>