<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>정보화 사업 개설</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-10" th:action="@{/new-project}" th:object="${projectForm}"
              method="post" novalidate>
            <div class="form-group">
                <label for="path">정보화사업 이름</label>
                <input id="path" type="text" th:field="*{title}" class="form-control"
                       placeholder="OPEN API시스템 구축" aria-describedby="pathHelp" required min="2" max="20">
                <small id="pathHelp" class="form-text text-muted">
                    사업 명을 적어주세요
                </small>
                <small class="invalid-feedback">사업 명을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}"
                       th:errors="*{title}">Path error</small>
            </div>
            <div class="form-group">
                <label for="totalAmount">사업비</label>
                <input id="totalAmount" type="text" th:field="*{totalAmount}" class="form-control"
                       placeholder="사업비(원)" aria-describedby="totalAmountHelp" required max="50">
                <small id="totalAmountHelp" class="form-text text-muted">
                </small>
                <small class="invalid-feedback">사업비</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('totalAmount')}"
                       th:errors="*{totalAmount}">Title error</small>
            </div>
            <div class="form-group">
                <label for="projectTypeLists">담당EPMO</label>
                <select   class="custom-select mr-sm-2 form-control" id="projectTypeList" aria-describedby="epmoHelp">
                    <option th:value="0" >--선택하세요--</option>
                    <option th:each="epmo : ${projectTypeLists}" th:value="${epmo?.id}" th:text="${epmo?.name}" />
                    <option th:value="99" >미정</option>
                </select>
                <small id="epmoHelp" class="form-text text-muted">
                    담당 EPMO를 골라 주세요
                </small>
            </div>
            <div class="form-group">
                <label for="epmoLists">담당EPMO</label>
                <select   class="custom-select mr-sm-2 form-control" id="epmoList" aria-describedby="epmoHelp">
                    <option th:value="0" >--선택하세요--</option>
                    <option th:each="epmo : ${epmoLists}" th:value="${epmo?.id}" th:text="${epmo?.name}" />
                    <option th:value="99" >미정</option>
                </select>
                <small id="epmoHelp" class="form-text text-muted">
                    담당 EPMO를 골라 주세요
                </small>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">
                    정보화사업 생성하기
                </button>
            </div>
        </form>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>

<script th:replace="fragments.html :: update-tags(baseUrl='/study/settings/tags')"></script>

    <script th:replace="fragments.html :: tooltip"></script>
    <script th:replace="fragments.html :: form-validation"></script>
    <script th:replace="fragments.html :: editor-script"></script>
</body>
</html>