<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='outline')"></div>
        </div>
        <div class="col-8">
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">메시지</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="row">
                <h2 class="col-sm-12" >1. 개요</h2>

                <h3>- 사업명: 자금세탁방지 어쩌고 저쩌고 </h3>
                <h3>- 발의부서: 자금세탁방지부 </h3>
                <h3>- 키워드: xxx</h3>


                <div>
                <table id="example" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>도입물품</th>
                        <th>수정일시</th>
                        <th>등록일시</th>
                        <th>상태</th>
                        <th>기타</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>스토리지</td>
                        <td>2022-03-17 18:00</td>
                        <td>2022-03-17 18:00</td>
                        <td>수정 중 </td>
                        <td>버튼1, 버튼2</td>
                    </tr>
                    <tr>
                        <td>샌스위치</td>
                        <td>2022-03-17 18:00</td>
                        <td>2022-03-17 18:00</td>
                        <td>수정 중 </td>
                        <td>버튼1, 버튼2</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-12">
            <div class="row">
                <h2 class="col-sm-4" >사업(현재 작성중)</h2>
                <h2 class="col-sm-4" >참고사업</h2>
                <h2 class="col-sm-4" >가이드</h2>

            </div>
            <div class="row mt-3">
                <form class="col-sm-4" action="#" th:action="@{/project/outline}" th:object="${outlineForm}"
                      method="post" novalidate>

                    <div class="form-group">
                        <label for="title">항목1</label>
                        <input id="title" type="text" th:field="*{title}" th:placeholder="${project.title}" class="form-control"
                               th:value="${project.title}"
                               aria-describedby="bioHelp" disabled >
                        <small id="titleHelp" class="form-text text-muted">
                            사업명을 적어주세요
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                            조금 길어요.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="projectType">사업종류</label>
                        <input id="projectType" type="url" th:field="*{projectType}" class="form-control"
                               placeholder="향후 콤보박스변환" aria-describedby="urlHelp" required>
                        <small id="projectTypeHelp" class="form-text text-muted">
                            물품/개발
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('projectType')}" th:errors="*{url}">
                            에러입니다
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="url">담당자</label>
                        <input id="url" type="url" th:field="*{manager}" class="form-control"
                               placeholder="향후 콤보박스변환" aria-describedby="urlHelp" required>
                        <small id="urlHelp" class="form-text text-muted">
                            물품/개발
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('projectType')}" th:errors="*{url}">
                            옳바른 URL이 아닙니다. 예시처럼 입력해 주세요.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="company">담당 EPMO</label>
                        <input id="company" type="text" th:field="*{epmo}" class="form-control"
                               placeholder="어떤 일을 하고 계신가요?" aria-describedby="occupationHelp" required>
                        <small id="occupationHelp" class="form-text text-muted">
                            개발자? 매니저? 취준생? 대표님?
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="location">총금액(원)</label>
                        <input id="location" type="text" th:field="*{totalAmount}" class="form-control"
                               placeholder="금액입력"
                               aria-describedby="locationdHelp" required>
                        <small id="locationdHelp" class="form-text text-muted">
                            주요 활동(사는 곳이나 직장을 다니는 곳 또는 놀러 다니는 곳) 지역의 도시 이름을 알려주세요.
                        </small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                aria-describedby="submitHelp">수정하기</button>
                    </div>

                </form>
                <form class="col-sm-4" action="#" th:action="@{/project/outline}" th:object="${outlineForm}"
                      method="post" novalidate>

                    <div class="form-group">
                        <label for="title">사업명</label>
                        <input id="title" type="text" th:field="*{title}" class="form-control"
                               placeholder="사업명을 적어주세요" aria-describedby="bioHelp" required>
                        <small id="titleHelp" class="form-text text-muted">
                            사업명을 적어주세요
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                            조금 길어요.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="projectType">사업종류</label>
                        <input id="projectType" type="url" th:field="*{projectType}" class="form-control"
                               placeholder="향후 콤보박스변환" aria-describedby="urlHelp" required>
                        <small id="projectTypeHelp" class="form-text text-muted">
                            물품/개발
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('projectType')}" th:errors="*{url}">
                            에러입니다
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="url">담당자</label>
                        <input id="url" type="url" th:field="*{manager}" class="form-control"
                               placeholder="향후 콤보박스변환" aria-describedby="urlHelp" required>
                        <small id="urlHelp" class="form-text text-muted">
                            물품/개발
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('projectType')}" th:errors="*{url}">
                            옳바른 URL이 아닙니다. 예시처럼 입력해 주세요.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="company">담당 EPMO</label>
                        <input id="company" type="text" th:field="*{epmo}" class="form-control"
                               placeholder="어떤 일을 하고 계신가요?" aria-describedby="occupationHelp" required>
                        <small id="occupationHelp" class="form-text text-muted">
                            개발자? 매니저? 취준생? 대표님?
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="location">총금액(원)</label>
                        <input id="location" type="text" th:field="*{totalAmount}" class="form-control"
                               placeholder="금액입력"
                               aria-describedby="locationdHelp" required>
                        <small id="locationdHelp" class="form-text text-muted">
                            주요 활동(사는 곳이나 직장을 다니는 곳 또는 놀러 다니는 곳) 지역의 도시 이름을 알려주세요.
                        </small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                aria-describedby="submitHelp">수정하기</button>
                    </div>

                </form>
                <form class="col-sm-4" action="#" th:action="@{/project/outline}" th:object="${outlineForm}"
                      method="post" novalidate>

                    <div class="form-group">
                        <label for="title">사업명</label>
                        <input id="title" type="text" th:field="*{title}" class="form-control"
                               placeholder="사업명을 적어주세요" aria-describedby="bioHelp" required>
                        <small id="titleHelp" class="form-text text-muted">
                            사업명을 적어주세요
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                            조금 길어요.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="projectType">사업종류</label>
                        <input id="projectType" type="url" th:field="*{projectType}" class="form-control"
                               placeholder="향후 콤보박스변환" aria-describedby="urlHelp" required>
                        <small id="projectTypeHelp" class="form-text text-muted">
                            물품/개발
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('projectType')}" th:errors="*{url}">
                            에러입니다
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="url">담당자</label>
                        <input id="url" type="url" th:field="*{manager}" class="form-control"
                               placeholder="향후 콤보박스변환" aria-describedby="urlHelp" required>
                        <small id="urlHelp" class="form-text text-muted">
                            물품/개발
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('projectType')}" th:errors="*{url}">
                            옳바른 URL이 아닙니다. 예시처럼 입력해 주세요.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="company">담당 EPMO</label>
                        <input id="company" type="text" th:field="*{epmo}" class="form-control"
                               placeholder="어떤 일을 하고 계신가요?" aria-describedby="occupationHelp" required>
                        <small id="occupationHelp" class="form-text text-muted">
                            개발자? 매니저? 취준생? 대표님?
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="location">총금액(원)</label>
                        <input id="location" type="text" th:field="*{totalAmount}" class="form-control"
                               placeholder="금액입력"
                               aria-describedby="locationdHelp" required>
                        <small id="locationdHelp" class="form-text text-muted">
                            주요 활동(사는 곳이나 직장을 다니는 곳 또는 놀러 다니는 곳) 지역의 도시 이름을 알려주세요.
                        </small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                aria-describedby="submitHelp">수정하기</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js" ></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script>
    $(document).ready( function () {
        $('#example').DataTable();
    } );

</script>
</body>
</html>