<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='register')"></div>
        </div>
        <div class="col-8">
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">메시지</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="row">
                <h2 class="col-sm-12" >2. 발의자</h2>
            </div>
            <div class="row mt-3">
                <form class="col-sm-6" action="#" th:action="@{/project/register}" th:object="${registerForm}"
                      method="post" novalidate>

                    <div class="form-group">
                        <label for="department">부서명</label>
                        <input id="department" type="text" th:field="*{department}" class="form-control"
                               placeholder="부서명" aria-describedby="departmentHelp" required>
                        <small id="departmentHelp" class="form-text text-muted">
                            부서명을 적어주세요
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">
                            에러발생
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="teamLeader">팀장</label>
                        <input id="teamLeader" type="text" th:field="*{teamLeader}" class="form-control"
                               placeholder="팀장" aria-describedby="teamLeader" required>
                        <small id="teamLeaderHelp" class="form-text text-muted">
                            팀장
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('teamLeader')}" th:errors="*{teamLeader}">
                            에러입니다
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="depLeader">부서장</label>
                        <input id="depLeader" type="text" th:field="*{depLeader}" class="form-control"
                               placeholder="부서장" aria-describedby="depLeaderHelp" required>
                        <small id="depLeaderHelp" class="form-text text-muted">
                            부서장
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('depLeader')}" th:errors="*{depLeader}">
                            에러
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="generalLeader">본부장(필요시)</label>
                        <input id="generalLeader" type="text" th:field="*{generalLeader}" class="form-control"
                               placeholder="본부장" aria-describedby="generalLeader" required>
                        <small id="generalLeaderHelp" class="form-text text-muted">
                            본부장
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="vicePresident">총금액(원)</label>
                        <input id="vicePresident" type="text" th:field="*{vicePresident}" class="form-control"
                               placeholder="부행장"
                               aria-describedby="vicePresidentHelp" required>
                        <small id="vicePresidentHelp" class="form-text text-muted">
                            부행장
                        </small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                aria-describedby="submitHelp">수정하기</button>
                    </div>

                </form>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>
</div>
<link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js" ></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
</body>
</html>