<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='register')"></div>
        </div>
        <div class="col-8">
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">메시지</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="row">
                <h2 class="col-sm-12" >2. 발의자</h2>
            </div>
            <div class="row mt-3">
                <form class="col-sm-6" action="#" th:action="@{/project/register}" th:object="${registerForm}"
                      method="post" novalidate>

                    <div class="form-group">
                        <label for="department">부서명</label>
                        <input id="department" type="text" th:field="*{department}" class="form-control"
                               placeholder="부서명" aria-describedby="departmentHelp" required>
                        <small id="departmentHelp" class="form-text text-muted">
                            부서명을 적어주세요
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">
                            에러발생
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="teamLeader">팀장</label>
                        <input id="teamLeader" type="text" th:field="*{teamLeader}" class="form-control"
                               placeholder="팀장" aria-describedby="teamLeader" required>
                        <small id="teamLeaderHelp" class="form-text text-muted">
                            팀장
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('teamLeader')}" th:errors="*{teamLeader}">
                            에러입니다
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="depLeader">부서장</label>
                        <input id="depLeader" type="text" th:field="*{depLeader}" class="form-control"
                               placeholder="부서장" aria-describedby="depLeaderHelp" required>
                        <small id="depLeaderHelp" class="form-text text-muted">
                            부서장
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('depLeader')}" th:errors="*{depLeader}">
                            에러
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="generalLeader">본부장(필요시)</label>
                        <input id="generalLeader" type="text" th:field="*{generalLeader}" class="form-control"
                               placeholder="본부장" aria-describedby="generalLeader" required>
                        <small id="generalLeaderHelp" class="form-text text-muted">
                            본부장
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="vicePresident">총금액(원)</label>
                        <input id="vicePresident" type="text" th:field="*{vicePresident}" class="form-control"
                               placeholder="부행장"
                               aria-describedby="vicePresidentHelp" required>
                        <small id="vicePresidentHelp" class="form-text text-muted">
                            부행장
                        </small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                aria-describedby="submitHelp">수정하기</button>
                    </div>

                </form>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>
</div>
<link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js" ></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    $(function() {
        cropper = '';
        let $confirmBtn = $("#confirm-button");
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $newProfileImage = $("#new-profile-image");
        let $currentProfileImage = $("#current-profile-image");
        let $resultImage = $("#cropped-new-profile-image");
        let $profileImage = $("#profileImage");

        $newProfileImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();
        $confirmBtn.hide();

        $("#profile-image-file").change(function(e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        if (!e.target.result.startsWith("data:image")) {
                            alert("이미지 파일을 선택하세요.");
                            return;
                        }


                        let img = document.createElement("img");
                        img.id = 'new-profile';
                        img.src = e.target.result;
                        img.setAttribute('width', '100%');

                        $newProfileImage.html(img);
                        $newProfileImage.show();
                        $currentProfileImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 1});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $confirmBtn.hide();
                        $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function() {
            $currentProfileImage.show();
            $newProfileImage.hide();
            $resultImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $profileImage.val('');
        });

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();
            if (dataUrl.length > 1000 * 1024) {
                alert("이미지 파일이 너무 큽니다. 1024000 보다 작은 파일을 사용하세요. 현재 이미지 사이즈 " + dataUrl.length);
                return;
            }
            let newImage = document.createElement("img");
            newImage.id = "cropped-new-profile-image";
            newImage.src = dataUrl;
            newImage.width = 125;
            $resultImage.html(newImage);
            $resultImage.show();
            $confirmBtn.show();

            $confirmBtn.click(function () {
                $newProfileImage.html(newImage);
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val(dataUrl);
            });
        });
    });
</script>
</body>
</html>